body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: wheat;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  -webkit-box-shadow: 0px 0px 10px 10px #8b6b14;
          box-shadow: 0px 0px 10px 10px #8b6b14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cv-leftcolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cv-rightcolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
